---
const { href, label } = Astro.props
---

<div class="mt-5"> 
    <a class="text-white rounded-full bg-[--main-color] py-3 px-9 group-hover:bg-white group-hover:text-[--main-color] duration-500 border-2 group-hover:border-[--main-color]" href={href}>{label}</a>
</div>