---
    const { href, label } = Astro.props
---
<div class="mt-5">
    <a class="bg-[--second-color] rounded-full py-3 px-9 text-white font-medium hover:bg-[--main-color]" href={href}>
        {label}
    </a>
</div>
