---

---
<div class="w-full h-[150px] bg-white -mb-36">
</div>
<div class="w-full -mb-36">
    <img class="mx-auto" src="/img/footer.png" alt="">
</div>
<footer class="bg-[--main-color] pt-40 pb-9">
    <div class="max-w-screen-2xl mx-auto flex lg:flex-row flex-col items-center mt-5 text-white gap-4">
        <div class="w-1/5">
            <img src="/img/logo-main.png" alt="">
        </div>
        <div class="w-2/5 lg:text-start text-center">
            <h6 class="font-bold">DIRECCIÓN</h6>
            <p class="text-base">Av. Néstor Gambetta Urb. 200 Millas, Mz "B" Lote 01 Oficina 201 - Callao</p>
        </div>
        <div class="w-1/5 lg:text-start text-center">
            <h6 class="font-bold">CORREO</h6>
            <p class="text-base">cleantgi@gmail.com</p>
        </div>
        <div class="w-1/5 lg:text-start text-center">
            <h6 class="font-bold">TELEFONO</h6>
            <p class="text-base">949 591 662</p>
        </div>
    </div>
    <div class="max-w-screen-2xl mx-auto flex lg:flex-row flex-col items-center mt-5 text-white gap-4 text-center justify-center my-9">
            <h6 class="font-bold">HORARIO DE ATENCIÓN</h6>
            <p>Lunes a Sábado de  7:00 am  a 5:00 pm </p>
            <div class="flex gap-2 ml-5">
                <span>Siguenos:</span>
                <div class="flex gap-5">
                    <img src="/img/facebook.svg" alt="">
                    <img src="/img/tiktok.svg" alt="">
                    <img src="/img/instagram.svg" alt="">
                </div>
            </div>
    </div>
</footer>