---
import Navbar from "../ui/Navbar.astro"
import Figure from "../ui/Figure.astro"
import CardChat from "../ui/CardChat.astro"
---

<header class="m-0 bg-[url('/img/bg-header.jpg')]  bg-no-repeat bg-cover relative bg-center flex flex-col justify-between">
    
    <Navbar/>
    
    <section class="flex flex-col-reverse xl:flex-row justify-center items-center mx-auto w-full lg:px-14 px-0">

        <CardChat/>

        <div class="flex xl:justify-end justify-center items-end overflow-hidden mt-10">
            <img class="w-full object-cover"src="/img/person-2.png" alt="">
            <img class="w-full object-cover" src="/img/person-3.png" alt="">
            <img class="w-full object-cover" src="/img/person-1.png" alt="">
        </div>

    </section>
  
    <Figure/>

</header>
<style>

</style>