---
import CardProduct from "../ui/CardProduct.astro"
---

<section class="bg-white py-24 ">
    <div class=" lg:w-[80%] w-full mx-auto px-4">
        <h3 class="mb-4 text-[--main-color] font-bold text-3xl">Productos Destacados</h3>
        <div class="grid lg:grid-cols-4 grid-cols-2 gap-5">
            <CardProduct
                href="/img/products/legia.png"
                title="Lejía Industrial al 5% 1 Litro-Galón"
                desc="Limpiadores - Desinfectantes -Ceras"
                price=" s/ 33.00"
            />
            <CardProduct
                href="/img/products/cera.png"
                title="Cera Tekno Liquida Rojo, Amarillo Balde 3.785 Litros"
                desc="Limpiadores - Desinfectantes -Ceras"
                price=" s/ 33.00"
            />
            <CardProduct
                href="/img/products/detergente.png"
                title="Detergente sapolio 13.5 kg"
                desc="Detergentes"
                price=" s/ 33.00"
            />
            <CardProduct
                href="/img/products/desinfectante.png"
                title="Desinfectantes de Limón Mafa 1 Litro "
                desc="Limpiadores - Desinfectantes -Ceras"
                price=" s/ 33.00"
            />
        </div>
    </div>
    
</section>

