---
import Card from "../ui/Card.astro"
---

<section>
    <div class="mx-auto max-w-screen-2xl px-4">
        <div class="grid xl:grid-cols-4 grid-cols-2 gap-5">
            <Card
                href='/img/1.png'
                title='Limpieza de Oficinas'
            />
            <Card
                href='/img/2.png'
                title='Desinfección'
            />
            <Card
                href='/img/3.png'
                title='Lavado y desinfección de tanques cisternas'
            />
            <Card
                href='/img/4.png'
                title='Lavado de Alfombras'
            />
            <Card
                href='/img/5.png'
                title='Fumigación de Establecimientos'
            />
            <Card
                href='/img/6.png'
                title='Limpieza Mecanizada'
            />
            <Card
                href='/img/7.png'
                title='Limpieza de Hospital y Clinicas'
            />
            <Card
                href='/img/8.png'
                title='Venta de Productos de Limpieza'
            />
        </div>
    </div>
</section>